<div class="section">
    <div class="card sectionShadow">
        <div>
            <img style="background-color: white; border-radius: 100%;" src="././assets/images/education.png" width="50px"  height="50px">
            <span class="sectionTitle"> 
                Education 
            </span>
        </div>
        <div
            *ngFor = "let education of educations" 
            style="padding-left: 80px;">
            <strong> {{ education.Title}}</strong>
            <div>
               {{ education.University }} - {{ education.Date }} - {{ education.GPA}}
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>
    </div>
</div>