<div class="section">
    <div class="card sectionShadow">
        <div>
            <img src="././assets/images/work.png"
                style="background-color: white; border-radius: 100%;"
                width="50px"  height="50px"> 
            <span class="sectionTitle"> 
                Work Experience 
            </span>
        </div>
        <div
            *ngFor = "let experience of experiences" 
            style="padding-left: 80px;">
            <strong> {{ experience.Title}}</strong>
            <div style="font-size: 14px;">  
                {{ experience.Company }}  
                <span style="float: right; font-size: 14px;">
                    {{ experience.Date }} - {{ experience.Address}}
                </span> 
                <br/><br/>
                <div
                    style="font-size: 14px;" 
                    *ngFor = "let responsibility of experience.Responsibilities">
                    <img src="././assets/images/arrow.png" width="20px">
                    <span style="vertical-align: bottom;">
                        {{ responsibility.Title }}
                    </span>
                </div>
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>
    </div>
</div>