<div style="padding-bottom: 20px;">
    <div class="card" 
        style="font-size: 14px; padding:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div>
            <img src="././assets/images/summary.png" width="50px" height="50px">
            <span class="sectionTitle"> 
                Summary 
            </span>
            <div style="padding-left: 80px; text-align: justify;">
                Team player with data analysis and data visualization skills and solid computer science background, 
                interested in the field of Data Science and Software Engineering. Coming with over eight years of 
                experience in object-oriented application design and development in enterprise application environments 
                with exceptional troubleshooting, analytical, training, leadership and communication skills.
            </div>
        </div>
    </div>
</div>