<div class="section">
    <div class="card sectionShadow">
        <div>
            <div style="float:left; width:50px; height: 50px; background-color: white; border-radius: 100%;">
            <img
                style="padding: 8px;"
                src="././assets/images/project.png" 
                width="50px"  height="50px">
            </div>
            <span class="sectionTitle"> 
                Projects 
            </span>
        </div>
        <div
            *ngFor = "let project of projects" 
            style="padding-left: 80px; font-size: 14px;">
            <strong>{{ project.title }}</strong>
            <div>
                {{ project.description }} 
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>
    </div>
</div>