<div class="section">
    <div class="card sectionShadow">
        <div>
            <img style="background-color: white; border-radius: 100%;" src="././assets/images/skills.png" width="50px"  height="50px">
            <span class="sectionTitle"> 
                Skills 
            </span>
        </div>
        <div style="padding-left: 70px;">
            <div>
                <ul style="font-size:14px; text-align:left; list-style-type: none; padding-left: 10px;">
                  <li> High Level Languages: C, C++, C#, Objective C, Python</li> 
                  <li> Front End: HTML, CSS, JavaScript, jQuery, Knockout JS, Angular </li> 
                  <li> .NET Technologies: ASP.NET (Windows Forms, Web Forms, MVC) </li> 
                  <li> ORM Tools: LINQ, Entity Framework, ADO.NET, PetaPoco</li> 
                  <li> Web Services: REST (Python Flask), WCF</li> 
                  <li> Database: MySQL, MS SQL Server</li> 
                  <li> Version Control: Subversion, Mercurial, GIT, Microsoft TFS, Mac Hg, Source Tree </li> 
                  <li> Machine Learning Algorithms: kNN, Linear Regression, Naïve Bayes Classifier, Decision Trees, Clustering (k-Means, Agglomerative, DBSCAN)</li> 
                  <li> Big Data Technologies: MongoDB, Spark, Spark Streaming</li> 
                  <li> Data Visualization Tool: Tableau</li> 
                  <li>Others: Unity 3D, Crystal Reports, XSLT, Exchange Web Service, Selenium Web driver </li> 
                </ul>
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>
    </div>
</div>