<div class="row">
    <div class="sidebar" style="width: 23%">
        <img src="././assets/images/profile.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="row">
                <div style="padding:5px;">
                    <img src="././assets/images/profile-icon.png" width="24" height="24" /> 
                </div>
                <div class="card-text navbarContent">
                        Prakash Acharya <br/> 
                        Software Engineer
                </div>
                <div class="separator">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div style="padding:5px;">
                    <img src="././assets/images/phone.png" width="24" height="24" /> 
                </div>
                <div class="card-text navbarContent">
                        (832)-983-4178
                </div>
                <div class="separator">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div style="padding:5px;">
                    <img src="././assets/images/email.png" width="24" height="24" /> 
                </div>
                <div class="card-text navbarContent">
                    acharya.prakash@outlook.com
                </div>
                <div class="separator">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div style="padding:5px;">
                    <img src="././assets/images/location.png" width="24" height="24" /> 
                </div>
                <div class="card-text navbarContent">
                    Gaithersburg, MD
                </div>
                <div class="separator">
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div style="padding:5px;">
                    <img src="././assets/images/top-skill.png" width="24" height="24" /> 
                </div>
                <div class="card-text navbarContent">
                    Professional Skills
                </div>
                <div class="separator">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    
    <div style="width: 75%; padding-left: 15px; padding-right: 15px;">
        <!-- <app-summary></app-summary>
        <experience></experience>
        <education></education>
        <projects></projects>
        <skills></skills>
        <awards></awards>
        <additional-training></additional-training> -->
    </div>
  </div>