<div class="row">
    <div class="sidebar" style="width: 23%">
        <img src="././assets/images/profile.jpg" class="card-img-top" alt="...">
        <div class="card-body cardShadow">
            <div class="row">
                <div class="card-text navbarContent">
                    <img src="././assets/images/profile-icon.png" width="24" height="24" /> 
                    <span style="padding-left: 15px;">
                        Prakash Acharya
                    </span>
                </div>
                <div class="separator">
                    <hr class="blackLine"/>
                </div>
            </div>
            <div class="row">
                <div class="card-text navbarContent">
                    <img src="././assets/images/phone.png" width="24" height="24" />
                    <span style="padding-left: 15px;">
                        (832)-983-4178
                    </span>
                </div>
                <div class="separator">
                    <hr class="blackLine"/>
                </div>
            </div>
            <div class="row">
                <div class="card-text navbarContent">
                    <img src="././assets/images/email.png" width="24" height="24" />
                    <span style="padding-left: 15px;">
                        <a class="email" href="mailto:acharya.prakash@outlook.com?Subject=Contact">acharya.prakash@outlook.com</a> 
                    </span>
                </div>
                <div class="separator">
                    <hr class="blackLine"/>
                </div>
            </div>
            <div class="row">
                <div class="card-text navbarContent">    
                    <img src="././assets/images/location.png" width="24" height="24" /> 
                    <span style="padding-left: 15px;">
                        Gaithersburg, MD
                    </span>
                </div>
                <div class="separator">
                    <hr class="blackLine"/>
                </div>
            </div>
            <div class="row">
                <div class="card-text navbarContent">
                    <img src="././assets/images/top-skill.png" width="24" height="24" /> 
                    <span style="padding-left: 15px;">Professional Skills</span>
                    <ul 
                        *ngFor = "let skill of skills"
                        style="list-style-type: none; padding-left: 40px; font-size: 14px; padding-top: 5px;">
                        <li> {{ skill.Skill }}</li>
                        <div class="progress" style="height: 8px; background-color:white; width: 100%;">
                            <div class="progress-bar"
                                [style.width]="skill.Rating"  style="background-color:#820909"></div>
                        </div>
                    </ul>
                </div>
                <div class="separator">
                    <hr class="blackLine"/>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 75%; padding-left: 15px; padding-right: 15px;">
        <app-summary></app-summary>        
        <experience></experience>
        <education></education> 
        <projects></projects>
        <skills></skills>
        <awards></awards>
        <additional-training></additional-training>
    </div>
  </div>