<div class="section">
    <div class="card sectionShadow">
        <div>
            <img style="background-color: white; border-radius: 100%;"  src="././assets/images/awards.png" width="50px"  height="50px">
            <span class="sectionTitle">
                Awards 
            </span>
        </div>
        <div
            style="padding-left: 80px;">
            <div>
                Software Engineering Program Outstanding Student (2015) <br/>
                University of Houston - Clear Lake
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>
    </div>
</div>