<div style="padding-bottom: 20px;">
    <div class="card" 
        style="font-size: 14px; padding:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div>
            <img src="././assets/images/training.png" width="50px"  height="50px">
            <span class="sectionTitle"> 
                Additional Training 
            </span>
        </div>
        <div
            style="padding-left: 80px;">
            <div>
                HIPAA Training for US Healthcare (Deerwalk Services) <br/>
                Data De-Identification Training  (Deerwalk Services) <br/>
                The Nepali Language Preservation Workshop (Kathmandu University and Microsoft Research Connections)<br/>
            </div>
            <div class="mainSeparator">
                <hr class="blackLine"/>
            </div>
        </div>

    </div>
</div>