/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar{
    padding-bottom: 20px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
}

.separator{
    float: right !important;
    width: 300px;
    padding-left: 40px;
    padding-top: 10px;
}

.mainSeparator{
    float: right !important;
    width: 100%;
}

.blackLine{
    background-color: black;
}

.navbarContent{
    width: 85%; 
    /* text-align: right;  */
    padding-left: 15px;
    font-size: 14px;
    padding-top: 7px;
}

.sectionTitle{
    padding-left: 20px; 
    padding-top:10px; 
    font-weight: bold; 
    font-size: 28px; 
    color: #5c5959;
}

ul li {
    padding:3px;
}

.email{
    color: black;
    font-size: 14px;
}

.email:hover{
    text-decoration: none;
    color:gray;
    font-size: 14px;
}